/* write your override styles here */
/* NOTE */
/* THIS MY SOLUTION BUT THE TEST REQUIRE MORE BYTES in the file :)*/

/*
 #wall .tag-1,
#wall .tag-1+#tag-2,
body div#wall #tag-3.slick,
#wall .parent #tag-4,
div#wall div.parent #tag-5.slick,
body div#wall div.parent div:last-child div#tag-6,
html body div#wall div.parent div>#tag-7.slick {
    display: none;
}
 */

#wall .tag-1 {
    display: none;
}

#wall .tag-1+#tag-2 {
    display: none;
}

body div#wall #tag-3.slick {
    display: none;
}

#wall .parent #tag-4 {
    display: none;
}

div#wall div.parent #tag-5.slick {
    display: none;
}

body div#wall div.parent div:last-child div#tag-6 {
    display: none;
}

html body div#wall div.parent div>#tag-7.slick {
    display: none;
}